<%- include('partials/header') %>
  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>3QS</span></h2>
        <p class="animate__animated animate__fadeInUp">You have the options, we got the solutions. Let us make you international.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Worry Less. We Will Handle The Rest</h2>
        <p class="animate__animated animate__fadeInUp">With over 25 years’ experience in providing solutions we have the expertise to assist you and give you quick solutions that will meet your specific needs and enhance your organization.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Get More. Pay Less</h2>
        <p class="animate__animated animate__fadeInUp">Imagine reaching your goals faster, while paying a fraction of the cost.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>
  </div>
</section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class='bx bxs-phone-call bx-tada' ></i></div>
              <h4 class="title"><a href=""></a>Just A Call Away</h4>
              <p class="description">Dissatisfaction does not exist in our dictionary. Reach, Call, Relax.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bxs-bolt-circle bx-burst"></i></div>
              <h4 class="title"><a href="">Fast, Clean, Efficient</a></h4>
              <p class="description">Match your high intention with our flexibility, speed and ease of operation.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxs-lock bx-tada"></i></div>
              <h4 class="title"><a href="">Maximum Security</a></h4>
              <p class="description">Give your computer a rest when you're not at your desk. Be aware, connect with care.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world bx-spin"></i></div>
              <h4 class="title"><a href="">Remote Access</a></h4>
              <p class="description">Access our solutions anywhere, anytime and wherever you may be on the planet.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="assets/img/why-us.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-group"></i></div>
              <h4 class="title"><a href="">Here For You</a></h4>
              <p class="description">With a community of creative and intelligent professionals, we give you the best services, tailored to your needs for an exquisite experience</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bxs-chip"></i></div>
              <h4 class="title"><a href="">Seamless Integration</a></h4>
              <p class="description">Equipping Companies with the technology and know-how to smooth operations, reduce latency and enhance productivity ten-fold</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Features</h2>
          <p>Always innovating and keeping one step ahead of the competition, we give our customers what can only be termed as nothing short of perfection.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>An elite group of creatives in your hands</h3>
            <p class="fst-italic">
              We employ talent that not only stays in touch with the latest technology but also
              makes customer satisfaction their number one priority.
            </p>
            <ul>
              <li><i class="bi bi-check"></i>Productive and Goal-oriented.</li>
              <li><i class="bi bi-check"></i> You are in safer hands than you could imagine.</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/features-2.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Watch your value go up in real-time</h3>
            <p class="fst-italic">
              Our solutions ensure that you get your money's worth.
            </p>
            <p>
              With three quality services, you no longer have to worry about data breaches or stolen credentials. With us, you get to focus on the growth of you company
              and watch as its value goes up in real-time while maintaining the integrity of your systems.
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/features-3.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Catering to the upcoming generation</h3>
            <p>Skill development is at the core of our company ethos. Youngsters are given an opportunity to unleash their creativity
              and innovate for the betterment of their future.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Drone School.</li>
              <li><i class="bi bi-check"></i> Web Design & Development, Cyber Security etc.</li>
              <li><i class="bi bi-check"></i> First-hand world experience.</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/features-4.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Round the clock support all year long</h3>
            <p class="fst-italic">
              We guarantee prompt & effective support for all customers no matter where you are.
            </p>
            <p>
              Whether you are at work or on holiday, we will be there to give comprehensive customer service over the phone and in person 
              and ensure we answer all your questions and quell your doubts at all times. A satisfied customer is a happy customer.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

<%- include('partials/footer') %>

</body>

</html>