<h3 class="sidebar-title">Search By Title</h3>
<div class="sidebar-item search-form">
    <form action="/blog/search" method="get">
        <input type="text" name="search" autocomplete="off">
        <button type="submit"><i class="bi bi-search"></i></button>
    </form>
</div>